<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Internet / Network -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LantawMarbelMobileApp">
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".QRDetailActivity"
            android:exported="false" />
        <activity
            android:name=".QRListActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackListActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".QrScanActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".BookingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".BookingListActivity"
            android:exported="false" />
        <activity
            android:name=".BookingActivity"
            android:exported="false" /> <!-- Launcher Activity -->
        <activity
            android:name=".CommonMainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other Activities -->
        <activity
            android:name=".Go_To_List_of_bookings"
            android:exported="false" />
        <activity
            android:name=".Go_To_SignUp_Button"
            android:exported="false" />
        <activity
            android:name=".Go_To_Login_Signup"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- FileProvider for Camera image saving -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>